<div>
  <h2 class="text-center">{{ message }}</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h1 class="mt-4 ml-5 mb-4">
        Registration page
      </h1>
      <form action="submit">
        <fieldset>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              [(ngModel)]="user.firstname"
              class="form-control"
              placeholder="Enter your first name"
              required
            />
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              [(ngModel)]="user.lastname"
              class="form-control"
              placeholder="Enter your last name"
              required
            />
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="number"
              name="age"
              id="age"
              [(ngModel)]="user.age"
              class="form-control"
              placeholder="Enter your age"
              required
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              [(ngModel)]="user.email"
              class="form-control"
              placeholder="Enter your email"
              required
            />
          </div>

          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              [(ngModel)]="user.username"
              class="form-control"
              placeholder="Enter your username"
              required
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="text"
              name="password"
              id="password"
              [(ngModel)]="user.password"
              class="form-control"
              placeholder="Enter your password"
              required
            />
          </div>

          <div class="form-group">
            <input
              class="btn btn-success"
              type="submit"
              value="Register"
              (click)="handleRegister()"
            />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
