<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>You are 30 seconds away from becoming our family!</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="text-right" *ngIf="message">{{ message }}</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name *"
                  [(ngModel)]="user.firstname"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email *"
                  [(ngModel)]="user.email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username *"
                  [(ngModel)]="user.username"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name *"
                  [(ngModel)]="user.lastname"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="age *"
                  [(ngModel)]="user.age"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password *"
                  [(ngModel)]="user.password"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="btnRegister"
                  type="submit"
                  value="Register"
                  (click)="handleRegister()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
